  <div class="row" ng-controller="sellItem">
    <div>
      
      <label>Item Name:</label><input type="text" ng-model="itemName"><br>
      <label>Item Description:</label><input type="text" ng-model="itemDescription"><br>
      <label>Item Price:</label><input type="text" ng-model="itemPrice"><br>
      <label>Quantity Available:</label><input type="text" ng-model="quantity"><br>
      <label>Want to go for bidding:</label><input type="checkbox" ng-model="buyNow"><br>
      <label>Minimum Bidding Price:</label><input type="text" ng-show="buyNow" ng-model="initialBidding"><br>
      <button ng-click="postForSell();">Post Advertisement</button>
      <div ng-hide="error">Some error occurred</div>
      <div ng-hide="success">Advertisement successfully posted!</div>
    </div>
  </div>

